body{
    background-color:#fff1f560;
}
.banner-inner{
    background: url('../src/images/IMAGE1.webp') no-repeat;
    background-position: center;
    background-size: contain;
}
.filter-bg{
    background-color: #fff1f5;
    font-weight: 500;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
}